{% extends "base.html" %}

{% block content %}
    <h1>Recomendaciones</h1>

    {% if recomendaciones_anteriores %}
        <h2>Películas Recomendadas Anteriormente:</h2>
        <ul class="movie-list">
            {% for pelicula in recomendaciones_anteriores %}
                <li>{{ pelicula }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No tienes recomendaciones anteriores. Se mostrarán algunas películas aleatorias.</p>
        <ul class="movie-list">
            {% for pelicula in peliculas_random %}
                <li>{{ pelicula }}</li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
